body {
    height: 100vh;
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 250px;
    background: url('../img/header.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#header_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
}

#header_logo {
    width: 150px;
    height: 150px;
}

#header_container h1, #header_container h2 {
    margin: 0px;
    text-shadow: 1px 1px black;
}

.spacer {
    width: 100%;
    height: 2px;
    background-color: rgba(34, 34, 34, 0.8);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 80%;
    margin: 15px 0px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

section h1 {
    font-family: 'Exo', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    margin: unset;
}

section h2 {
    font-family: 'Exo', sans-serif;
    font-weight: normal;
    display: inline-block;
    margin: unset;
}

#section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 15px;
}

#section_header h1 {
    font-size: 3em;
    margin-left: 20px;
}

.section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error {
    margin: 10px;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    color: rgb(218, 0, 0);
    background-color: rgb(252, 153, 153);
}

.input_error {
    border-color: red;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form div {
    text-align: center;
}

input {
    height: 40px;
    width: 300px;
    font-size: 1.5em;
    font-family: 'Exo', sans-serif;
    border-radius: 15px;
    border-style: solid;
    padding: 2px 15px;
    margin: 10px;
}

input:focus {
    outline: none;
}

input[type=submit] {
    font-weight: 600;
    border: none;
    color: white;
    background-color: rgb(78, 78, 78);
    transition: background-color .3s;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: black;
}

#form_footer {
    font-size: 1.3em;
}

#form_footer a {
    color: rgb(107, 107, 107);
    font-weight: 600;
    text-decoration: none;
    transition: color .3s;
}

#form_footer a:hover {
    color: black;
}

footer {
    width: 100%;
    height: 120px;
    margin-top: auto;
    background-color: rgb(34, 34, 34);
    font-family: 'Ubuntu', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

#footer_container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.f_left {
    align-items: center;
}

.f_right {
    width: 45%;
    align-items: flex-end;
}

#footer_logo {
    width: 100px;
    height: 100px;
}

#credits {
    text-align: right;
    font-size: 0.8em;
}

.hidden {
    display: none !important;
}

@media (max-width: 800px) {
    #section_header {
        flex-direction: column;
    }

    section h1 {
        font-size: 2em;
        margin-left: 5px;
    }

    footer {
        height: 200px;
    }

    #footer_container {
        width: 100%;
        flex-direction: column;
    }

    .f_right {
        width: 100%;
        align-items: center;
    }

    #credits {
        text-align: center;
    }
}